
.about_hero_section {
    background-color: #6C63FF;
    position: relative;
    min-height: 700px;
    background-image: url("../herosection/grid.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.small_hero {
    position: absolute;
}
.smallimage {
    position: absolute;
    top: -90px;
    left: 100px;
}
.desktop_hero {
    position: absolute;
    top: 100px;
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: row-reverse;
}
.paragraph_about {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 38px;
    text-align: left;
    margin-top: 10px;
    font-weight: 100;
    /* width: 120%; */
}
.image_container {
    display: none;
}
.about_text_wrapper {
    width: 50%;
    margin-left: 46%;
    margin-top: 2%;
}
.position_image {
    position: absolute;
    z-index: 10;
}
.desktop_image_container {
    margin-left: 5%;
    position: relative;
    z-index: 10;
    margin-top: 5%;
}

@media only screen and (max-width: 767px) {
    .desktop_hero{
        display: none;
    }
    .about_hero_section  {
        height: 920px;
    }
    .hero_container {
            flex-direction: column-reverse;
            display: flex;
            width: 100%;
            padding-bottom: 20px;
            align-items: center;
        }
        .desktop_image_container {
            display: none;
        }
        .image_container {
            display: block;
        }
        .about_text_wrapper {
            width: 75%;
            margin-left: 12.5%;
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .smallimage {
            display: none;
        }
        .paragraph_about {
            color: #FFFFFF;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            margin-top: 10px;
            font-weight: 100;
            width: 100%;
        }
    
}