.preregisters__text {
    text-align: center;
}

.preregisters__list {
    width: 100%;
    max-width: 90rem;

    margin: 0 auto;
    margin-top: 5rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2.5rem 1rem;
}

.preregisters__item {
    min-width: 10rem;
    max-width: 15rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.preregisters__item__logo {
    width: 7.5rem;

    border-radius: 100%;

    aspect-ratio: 1/1;
}

.preregisters__item__logo--empty {
    background: hsl(0, 0%, 75%);
    background-image: url("img/svg/company.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.preregisters__item__name {
    font-size: 2.25rem;

    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}