.form__avatar {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1rem;


    margin: 0 0 1rem 0;
}

.form__avatar .form__button, .form__avatar figure {
    margin: 0;
}

.form__avatar__preview {
    height: 5rem;
    width: auto;

    aspect-ratio: 1 / 1;

    background-color: hsl(0%, 0%, 90%);

    border-radius: 50%;
}

.form__avatar__preview--empty {
    background: linear-gradient(135deg, hsl(181, 64%, 20%) 15%, #25a5a7);
}