.partner_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 100px;
    z-index: 100;
}
.logo_container {
    margin-top: 100px;
}
.partner-heading {
    color: #6C63FF;
}
.logos_image {
    margin-left: 120px;
}
.bubbleImage {
    position: absolute;
    left: 0px;
}
.bubbleImage2 {
    position: absolute;
    right: 0;
    margin-top: 250px;
}
.bubbleImage1Mobile1 {
    display: none;
}
.bubbleImage1Mobile2 {
    display: none;
}


@media only screen and (max-width: 767px) { 
    .bubbleImage {
    display: none;
    }
    .bubbleImage2 {
      display: none;
    }
    .bubbleImage1Mobile1 {
       position: absolute;
       display: flex;
       top: 0;
       left: 0;
    }
    .bubbleImage1Mobile2 {
        position: absolute;
        top: 110px;
        display: flex;
        right: 0;
    }
    .logos_image {
        margin-left: 20px;
    }
    .logo_container .logos_image:nth-child(n+4) {
        display: none; /* Hide elements from the fourth one onward */
    }
    .logo_container {
        margin-top: 20px;
    }
    .bubbleImage2 {
       display: none;
    }
    .partner-heading {
        color: #6C63FF;
        font-size: 18px;
    }
    .logos_image {
        width: 50px;
    }
    .partner_section {
        padding-top: 10px;
        padding-bottom: 50px;
    }
  

}