footer {
    width: 100%;

    background: #2d2d32;
    padding: 2rem 4rem;
}

.footer__list {
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;
}

.footer__item {
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;

    color: rgb(175, 175, 179);
}

.footer__item__title {
    color: white;
    font-size: 1.7rem;
}

.footer__item__link, .footer__item__text {
    font-size: 1.4rem;
    color: inherit;

    margin-bottom: 0.5rem;
}

.footer__item__link {
    text-decoration: none;
}

#footer__links {
    margin-right: auto;
}

.footer__divider {
    color: white !important;
    width: 100%;
    background: none;

    margin: 1.5rem 0;
}

.footer__copyright {
    color: white;
    font-size: 1.4rem;

    text-align: center;
}