.footer {
    display: flex;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-align: right;
    padding: 3rem;
    gap: 10rem;
    border-top: 0.2rem solid #e4e2e0;
}

.footer {
    font-size: 4rem;
}

.footer__contact--wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer__text--wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 50rem;
}

.footer__p {
    font-size: 1.5rem;
    text-align: center;
}

.footer__image {
    display: flex;
    align-items: center;
    width: 50%;
    border-radius: 1rem;
    height: 50rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.footer__icon {
    font-size: 2rem;
}

@media only screen and (min-width: 39rem) and (orientation: landscape)
{
    .footer__text--wrapper {
        max-width: 39rem;
    }
}