.paypreregisters {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    align-items: center;
    margin-bottom: 10rem;
}

.paypreregisters h2 {
    font-size: 3.5rem;
    color: #48c2c3;
    padding: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

.paypreregisters__list {
    list-style: none;

    gap: 1rem;

    display: grid;
    grid-template-columns: repeat(5, minmax(10rem, 1fr));

    justify-content: center;

    column-gap: 8rem;
    row-gap: 1rem;
}

.paypreregisters__item {
    display: flex;
    flex-direction: row;

    align-items: center;
    overflow: hidden;

    background: hsl(0, 0%, 95%);
    border-radius: 0.5rem;
    padding: 2rem;
    
}

.paypreregisters__item img {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;

    background: hsl(0, 0%, 75%);
}

.paypreregisters__item figure {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;
}

.payform__avatar__preview--empty {
    background: hsl(0, 0%, 75%);
    background-image: url("img/svg/company.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

.paypreregisters__item h3 {
    margin-left: 1rem;
    font-weight: 400;
}

@media only screen and (max-width: 60rem) {
    .paypreregisters__list {
        list-style: none;

        gap: 1rem;

        display: grid;
        grid-template-columns: repeat(2, minmax(10rem, 1fr));


        max-width: 65rem;
        width: 100%;

        justify-content: center;

        column-gap: 2.5rem;
        row-gap: 1rem;
    }
}