.feature_info_express {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.payment_box_express {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 30%;
}