.info {
    position: relative;
    padding-bottom: 20px;
}

.info_one {
    display: flex;
    margin-top: 100px;
}
.text_info {
    flex: 6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info_heading {
    color: #6C63FF;
}
.info_para {
    color: #333333;
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
    font-weight: 200;
}
.text_wrap {
    /* width: 65%; */
    margin-top: 30px;
}
.image_info {
    flex: 6;
}
.bubbleImage_container {
    position: absolute;
    bottom: 100px;
}
.mobile_info {
    display: none;
}

@media only screen and (max-width: 767px) { 
    .info {
       display: none;
    }
    .mobile_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .mobile_info_one {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .mobile_image_info {
        display: flex;
        flex-direction: column;
    }
    .mobile_bubbleImage_container {
        position: absolute;
        top: 0px;
        left: 0;
    }
    .mobile_bubbleImage_container2 {
        position: absolute;
        top: 52%;
        left: 0;
    }
    .mobile_bubbleImage_container3 {
        position: absolute;
        top: 10%;
        right: 0;
    }
    .mobile_bubbleImage_container4 {
        position: absolute;
        top: 65%;
        right: 0;
    }
    .mobile_info_one {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_text_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile_info_heading {
        color: #6C63FF;
        font-size: 20px;
    }
    .mobile_info_para {
        color: #333333;
        font-size: 16px;
        line-height: 25px;
        margin-top: 20px;
        font-weight: 200;
        margin-top: 10px;
    }
    .mobile_text_wrap {
        width: 80%;
        margin-left: 10%;
        text-align: center;
        margin-top: 10px;

    }
    .mobile_text_wrap2 {
        width: 80%;
        text-align: center;
        margin-top: 10px;

    }
}